.profile {
  color: white;
  max-width: 1280px;
}

.profile__container {
  width: 880px;
  height: 120px;
  display: flex;
  align-items: center;

  margin-left: 200px;
  margin-top: 40px;
  margin-right: 200px;
}

.profile__cnt {
  display: flex;
  align-items: center;
}

.profile__info {
  width: 415px;
  height: 77px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 0;
  padding: 0;
}
.profile__role {
  margin-top: 16px;
  font-family: "Inter";
  font-size: 18px;
}

.profile__edit {
  margin-top: 15px;
}
.profile__add_style {
  width: 150px;
  height: 50px;
}
.profile__edit_style {
  width: 24px;
  height: 24px;
}

.profile__add {
  margin-left: 80px;
}

.profile__header {
  display: flex;
  width: 415px;
  height: 39px;
  align-items: baseline;
  margin-top: 0;
}
.profile__name {
  font-family: "Inter";
  font-size: 42px;
  margin-top: 0;
  margin-right: 18px;
  white-space: nowrap;
}

button {
  background: none;
  border: none;
}

.profile__edit:hover {
  opacity: 60%;
}

.profile__add:hover {
  opacity: 60%;
}
